@use "../variables/prefix" as *;
@use "../variables/body-bg" as *;
@use "../variables/table-hover-bg-factor" as *;
@use "../variables/table-active-bg-factor" as *;
@use "../variables/table-striped-bg-factor" as *;
@use "../variables/table-border-factor" as *;
@use "../functions/color-contrast" as *;
@use "../functions/_opaque.scss" as *;
@use "../functions/color-round" as *;
@use "sass:math";
@use "sass:color";

// scss-docs-start table-variant
@mixin table-variant($state, $background) {
  .table-#{$state} {
    $color: color-contrast(opaque($body-bg, $background));
    $hover-bg: color-round(color.mix($color, $background, math.percentage($table-hover-bg-factor)));
    $striped-bg: color-round(color.mix($color, $background, math.percentage($table-striped-bg-factor)));
    $active-bg: color-round(color.mix($color, $background, math.percentage($table-active-bg-factor)));
    $table-border-color: color-round(color.mix($color, $background, math.percentage($table-border-factor)));

    --#{$prefix}table-color: #{$color};
    --#{$prefix}table-bg: #{$background};
    --#{$prefix}table-border-color: #{$table-border-color};
    --#{$prefix}table-striped-bg: #{$striped-bg};
    --#{$prefix}table-striped-color: #{color-contrast($striped-bg)};
    --#{$prefix}table-active-bg: #{$active-bg};
    --#{$prefix}table-active-color: #{color-contrast($active-bg)};
    --#{$prefix}table-hover-bg: #{$hover-bg};
    --#{$prefix}table-hover-color: #{color-contrast($hover-bg)};

    color: var(--#{$prefix}table-color);
    border-color: var(--#{$prefix}table-border-color);
  }
}
// scss-docs-end table-variant
