@use "../variables/enable-precise-colors" as *;
@use "sass:color";
@use "sass:math";

@function color-round($color) {
    @if ($enable-precise-colors) {
        @return $color;
    }
    
    $r: math.round(color.channel($color, "red", $space: rgb));
    $g: math.round(color.channel($color, "green", $space: rgb));
    $b: math.round(color.channel($color, "blue", $space: rgb));
    $a: math.round(color.channel($color, "alpha", $space: rgb));
    @if ($a >= 255){
        @return rgb($r, $g, $b);
    }
    @else{
        @return rgba($r, $g, $b, $a);
    }
}