@use "../variables/form-text-margin-top" as *;
@use "../variables/form-text-font-size" as *;
@use "../variables/form-text-font-style" as *;
@use "../variables/form-text-font-weight" as *;
@use "../variables/form-text-color" as *;
@use "../vendor/rfs" as *;

//
// Form text
//

.form-text {
  margin-top: $form-text-margin-top;
  @include font-size($form-text-font-size);
  font-style: $form-text-font-style;
  font-weight: $form-text-font-weight;
  color: $form-text-color;
}
